
# Googleのサービスアカウント認証情報
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json

# ニコニコ動画から取得した作品情報
WORKS_SPREADSHEET_ID=
WORKS_SHEET_NAME=works

# Googleフォームから取得した作品詳細情報
WORK_DETAILS_SPREADSHEET_ID=
WORK_DETAILS_SHEET_NAME=work_details
